.checkbox {
  display: inline-flex;
  align-items: center;
  gap: $spacing-md;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.2s ease;
  position: relative;
  box-sizing: border-box;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &--flip {
    flex-direction: row-reverse;
  }

  &__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius-xs;
    border: 1.5px solid $dark-3;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    flex-shrink: 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: -5px;
      border-radius: $radius-sm;
      background-color: transparent;
      transition: background-color 0.2s ease;
    }
  }

  &:hover:not(.checkbox--disabled) {
    .checkbox__indicator {
      border-color: $light-blue-filled;
      background-color: rgba($light-blue-filled, 0.05);
    }
  }

  &__mark {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46);

    svg {
      fill: none;
      stroke: currentColor;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }

  &--checked,
  &--indeterminate {
    .checkbox__indicator {
      background-color: $light-blue-filled;
      border-color: $light-blue-filled;
    }

    .checkbox__mark {
      opacity: 1;
      transform: scale(1);
    }

    &:hover:not(.checkbox--disabled) {
      .checkbox__indicator {
        background-color: $light-blue-filled-hover;
        border-color: $light-blue-filled-hover;

        &::after {
          background-color: $light-blue-outline-hover;
          z-index: -1;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    color: $dark;
  }

  &__description {
    font-size: 12px;
    color: $grey-8;
    margin-top: $spacing-xxs;
    font-weight: 400;
  }

  &--sm {
    .checkbox__indicator {
      width: 20px;
      height: 20px;
    }

    .checkbox__mark svg {
      width: 16px;
      height: 16px;
      stroke-width: 2.625;
    }
  }

  &--md {
    .checkbox__indicator {
      width: 24px;
      height: 24px;
    }

    .checkbox__mark svg {
      width: 20px;
      height: 20px;
      stroke-width: 2.4;
    }
  }
}
